language: python

python:
  - "3.6"

matrix:
  include:
    - os: osx
      language: generic
      env: TOXENV=py36    
    - os: linux
      sudo: required
      python: 3.6

sudo: required

services:
  - docker

before_install:
  # install dependencies for acoustid
  # - sudo apt-get install -qq ffmpeg
  - if [ "$TRAVIS_OS_NAME" == "linux" ]; then sudo add-apt-repository -y ppa:mc3man/trusty-media; fi
  - if [ "$TRAVIS_OS_NAME" == "linux" ]; then sudo apt-get update; fi
  - if [ "$TRAVIS_OS_NAME" == "linux" ]; then sudo apt-get install -y ffmpeg; fi
  - if [ "$TRAVIS_OS_NAME" == "osx" ]; then brew update; fi
  - if [ "$TRAVIS_OS_NAME" == "osx" ]; then brew install ffmpeg; fi
  - if [ "$TRAVIS_OS_NAME" == "osx" ]; then brew install python3; fi
  - if [ "$TRAVIS_OS_NAME" == "osx" ]; then brew install gstreamer gst-plugins-base gst-plugins-good gst-plugins-bad gst-plugins-ugly gst-libav; fi
  - if [ "$TRAVIS_OS_NAME" == "osx" ]; then brew install chromaprint; fi
  - ffmpeg -hwaccels

addons:
  apt:
    packages:
      - python-dev
      - python3-dev
      - python3-pip
      - python-gst0.10-dev
      - gstreamer1.0
      - libchromaprint-tools
      - libchromaprint-dev
      - python-gst-1.0

install: 
  - pip3 install -r requirements.txt
  - pip3 install .

script: pytest

